---
interface Props {
  buttonAction: string;
  url?: string;
}

const { buttonAction, url } = Astro.props;
---
<a 
  href={url}
  class="inline-flex items-center justify-center border border-brand-primary/50  rounded-xl text-brand-primary cursor-pointer transform transition-all duration-300 text-xs font-medium no-underline hover:border-brand-primary hover:bg-brand-bg  md:text-sm   lg:text-[18px] p-4"
>
  {buttonAction}
</a>