---
interface Props {
  buttonAction: string;
  url: string;
  shortcut?:string
}

const { buttonAction, url, shortcut} = Astro.props;
---
<a 
  href={url}
  class="inline-block text-center border border-brand-primary p-4 rounded-full bg-brand-primary text-brand-tertiary cursor-pointer transform transition-all duration-300 text-sm no-underline hover:text-brand-secondary hover:bg-brand-bg hover:border-brand-secondary hover:-translate-y-0.5 hover:shadow-[0_4px_0_0_var(--color-brand-secondary)] active:translate-y-0 active:shadow-none md:p-4.5 md:text-[16px] lg:p-5 lg:text-[20px]"
>
  {buttonAction}
</a>