---
import CTA from "../buttons/CTA.astro";
import SquareCard from "../cards/SquareCard.astro";
---
<div class="text-center p-6  border-t border-brand-secondary/20 flex flex-col gap-6 lg:py-15">
<h1 class="text-2xl md:text-3xl lg:text-4xl font-primary text-brand-secondary tracking-[-0.03em] leading-normal font-bold lg:px-60 reveal-on-scroll">
    Right now, I'm learning how small bits work together to build a system — both <span class="text-brand-primary"> Design and Development</span>
</h1>

<p class="font-secondary text-sm text-brand-secondary/80 md:text-sm animate-reveal-up md:text-[16px] lg:text-[20px]">

    Here are the 3 pillars that define what I do.
      
</p>

<div class="w-full lg:px-30 lg:py-10">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-0 border border-brand-secondary/20 bg-brand-bg/10 rounded-xl overflow-hidden shadow-sm shadow-brand-secondary/5">
    
    <div class="border-b md:border-b-0 md:border-r border-brand-secondary/20 -mr-px -mb-px">
      <SquareCard 
         pillarNum="1" 
         pillarTitle="Logic and Problem Solving" 
         pillarDescription="These are the tools I use to practise logic, reasoning and problem solving skills." 
         logos={['/c-logo.webp', '/python-logo.webp', '/js-logo.png']}/>
    </div>

    <div class="border-b md:border-b-0 md:border-r border-brand-secondary/20 -mr-px -mb-px">
      <SquareCard 
          pillarNum="2" 
          pillarTitle="Web Design and Development" 
          pillarDescription="Tools I use to build for the web, both frontend and backend. "
          logos={['/astro-logo.png', '/react-logo.webp', './tailwind-logo.webp'      ]}
          
          />
    </div>

    <div class="-mr-px -mb-px">
      <SquareCard 
          pillarNum="3" 
          pillarTitle="Creative" 
          pillarDescription="Outside the code editor, I do UI/UX and Graphic Design, Filmmaking, Music, and more!"
          logos={[ '/figma-logo.webp', '/dr-logo.png',           ]}
          
          
          />
          
    </div>

    

  </div>




</div>

<div class="items-center ">

  <CTA buttonAction="View All Projects" url="/projects"/>
</div>
</div>