---
import Intro from "../components/sections/portfolio-page-components/Intro.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Page Not Found!" subtitle="Try Again" pill="the void">

  <div class="p-5 pt-20">

 
  <Intro 
      pill="404 ERROR" 
      title="This page doesn't exist. Check that link again." 
      subtitle="This page is either under construction or never existed in the first place."
  />
 

  </div>
</Layout>