---
import CTA from "../components/buttons/CTA.astro";
import CTAoutline from "../components/buttons/CTAoutline.astro";
import Intro from "../components/sections/Intro.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Page Not Found!" subtitle="Try Again" pill="the void">


<div class="flex flex-col items-center"> 
  <Intro 
      pill="404 ERROR" 
      title="This page doesn't exist." 
      subtitle="404! This page is either under construction or never existed in the first place. Check that link again."
  />

  <CTA buttonAction="Home" url="/" />
 
</div>

</Layout>