---
import Hero from '../components/sections/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Diptangshu Debnath" subtitle="Portfolio" pill="portfolio">
   
  <h1>THIS IS PORTFOLIO PAGE</h1>
 


</Layout>