---
import Hero from '../components/sections/Hero.astro';
import Intro from '../components/sections/portfolio-page-components/Intro.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Diptangshu Debnath" subtitle="Portfolio" pill="portfolio">

  <div class="p-5 pt-20 lg:px-100">



   
  <Intro />
 

  </div>
</Layout>