---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/sections/Intro.astro"
import CTA from "../components/buttons/CTA.astro";
import ButtonFilled from "../components/buttons/ButtonFilled.astro";
import ButtonOutline from "../components/buttons/ButtonOutline.astro";
import Header from "../components/sections/Header.astro";
---
<Layout title="Projects" subtitle="Diptangshu Debnath" pill="projects">


<main class="w-full mx-auto px-5 lg:px-30 pb-24 pt-32">


  <Header 
      title="My Projects"
      subtitle="Here are my projects! Explore a project by clicking on it."
  >

  <ButtonFilled buttonAction="Visit Github Profile" url="/"   />


  </Header>




  


</main>


</Layout>