---
import Hero from '../components/sections/Hero.astro';
import Intro from '../components/sections/portfolio-page-components/Intro.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Diptangshu Debnath" subtitle="Projects" pill="projects">

  <div class="p-5 pt-20">



   
  <Intro 
      pill="UNDER CONSTRUCTION" 
      title="This page is under construction!" 
      subtitle="Visit Later ;)"
  />
 

  </div>
</Layout>