<div class="p-5 pt-20 lg:px-100">

    <div class="w-full flex flex-col text-left border border-brand-secondary/20 rounded-2xl gap-6">

      <div class="animate-blur-in flex flex-col p-6 gap-4 md:gap-6">

        <h1 class="text-4xl md:text-5xl lg:text-5xl text-brand-secondary font-primary tracking-[-0.03em] leading-normal">
           Diptangshu Debnath
        </h1>

        <p class="font-secondary text-sm text-brand-secondary md:text-sm lg:text-[20px] md:text-[16px]">
            I'm a <span class="underline decoration-brand-primary decoration-1 underline-offset-4 decoration-dashed text-brand-primary">Software Developer</span>
        </p>




      </div>



    </div>


</div>