---
import CTA from "../../buttons/CTA.astro";
import CTAoutline from "../../buttons/CTAoutline.astro";
import ButtonFilled from "../../buttons/ButtonFilled.astro"
import CharHappy from "../../character/CharHappy.astro";

interface Props {
  pill?: string
  title: string
  subtitle: string
}

const { pill, title, subtitle } = Astro.props
---

<div class="lg:px-30">
    <div class="w-full py-12 flex flex-col items-center justify-center border-none border-brand-secondary/10 px-4">
  <div class="animate-blur-in max-w-3xl w-full flex flex-col items-center text-center p-6 gap-6">

    <div class="flex flex-col items-center gap-3">

      
      
      <h1 class="text-3xl md:text-4xl lg:text-6xl text-brand-secondary font-primary tracking-[-0.03em] leading-tight font-bold">
        {title}
      </h1>

      <p class="font-secondary text-sm text-brand-secondary/90 md:text-base lg:text-[20px] max-w-2xl leading-relaxed lg:leading-loose">
        {subtitle}
      </p> 
    </div>
    
    

  </div>
</div>
        




      </div>



    </div>
</div>


