---
interface Props {
  title?: string;
  subtitle?:string;
  description?:string;
  pill?:string;
}

const { title = "Diptangshu Debnath", subtitle ,pill} = Astro.props;
import '../styles/global.css';
import Navigation from '../components/site-wide-systems/Navigation.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{ title } - { subtitle }</title>
  </head>
  <body class="bg-brand-background text-brand-secondary px-0 py-4 pb-0 lg:px-0 lg:py-8 lg:pb-0">
    <Navigation pill=`${ pill }`/>
    
       <slot />

    
  </body>

</html>

<script>
  document.addEventListener("keydown", (e) => {
    const target = e.target as HTMLElement;
    if (target.tagName === 'INPUT' || target.tagName === 'TEXTAREA' || target.isContentEditable) {
      return;
    }

    if (e.key.toLowerCase() === 'h' && e.shiftKey) {
      e.preventDefault(); 
      window.location.href = "/";
    }

    if (e.key.toLowerCase() === 'p' && e.shiftKey) {
      e.preventDefault(); 
      window.location.href = "/projects/";
    }

    if (e.key.toLowerCase() === 'a' && e.shiftKey) {
      e.preventDefault(); 
      window.location.href = "/av/";
    }

    if (e.key.toLowerCase() === 'b' && e.shiftKey) {
      e.preventDefault(); 
      window.location.href = "/blog/";
    }

    
  });
</script>

<script>
  console.log("Welcome to the console! You will find some interesting things here...");

  console.log("Switch Themes using Shift+D")
</script>